### String

In [1]:
word = "python"
print(len(word))

6

In [3]:
word1 = "i love"
word2 = "python"
print(word1 + " " + word2)

sentance = word1 + " " + word2

i love python

In [ ]:
#Indexing
word = "Python"
word[2] = 'h' # Str object does not support item assignemt
for ch in word :
    print(ch)

P
y
t
h
o
n

In [5]:
#String is immutable

In [6]:
#Slicing
string = "Python"
string[0:4] # str[start idx : end idx] defacult value of start idx = 0 and ending idx = len(string)
string[-6:-2]

'Pyth'

In [ ]:
#Sring Formating
a = 5
b = 5
#normal formating
sum = a + b
print("sum is {}".format(sum))
print("language is {}".format("Python"))
print("sum of {} & {} is {}".format(a,b,sum))

#index base formating
print("sum of {1} & {0} is {2}".format(a,b,sum))

#value based formating
print("values of vars{a} & {b}".format(a = 5, b = 10))

#f-string
print(f"sum of {a} & {b} is {a+b}")

sum is 10
language is Python
sum of 5 & 5 is 10

### Lists

In [10]:
marks1 = 90
marks2 = 40
marks3 = 60
marks4 = 50

marks = [99, 40, 60, 50]

In [11]:
#List can be stored same or different types of data
marks = [4,5,7,4,5,"m", 6,7]

In [ ]:
#Slicing
#create sub list using slicing from list

List method
* l.append(value)
* l.insert(idx, value)
* l.sort() 
* l.reverse()

In [ ]:
nums = [1,2,3]
nums.append(4)
nums.insert(2,10)
nums.sort() #nums.sort(reverse=True)
nums.reverse()

In [1]:
#List Loops

nums = [1, 2, 3, 4, 5, 6]

for v in nums :
    print(v)

1
2
3
4
5
6

In [2]:
nums = [1, 4, 7, 8, 4]

x = 4
idx = 0

for v in nums :
    if v == x :
        print(f"x found at idx = {idx}")
    idx += 1

x found at idx = 1
x found at idx = 4

### Tuples

In [3]:
#Tuple are immutable

tup = (1,2,3,4,5)
print(type(tup))

<class 'tuple'>

In [4]:
tup1 = (1,2, 5, 7, "joti", "ory")
print(type(tup1))

<class 'tuple'>

In [9]:
tu1 = (1) # it like a integer
tu1 = (1,) # it is a tuple
#tuple should be initialized two value

In [10]:
tup2 = (1,2,3,4,5)

for v in tup2 :
    print(v)

1
2
3
4
5

In [11]:
#Tuples method
tup3 = (1, 2, 3, 2, 5, 2)
tup3.index(2)

1

### Dictionary

In [4]:
#key: value 
#key are always unique
dic = {
    "name": "joti",
    "sub": ["math","eng"],
    "cgpa": 2.9,
    1 : "Nums"
}

In [5]:
dic

{'name': 'joti', 'sub': ['math', 'eng'], 'cgpa': 2.9, 1: 'Nums'}

In [6]:
type(dic)

dict

In [7]:
dic[1]

'Nums'

In [8]:
# dictionay is mutable
dic[1] = "nums is not included"

In [9]:
dic

{'name': 'joti',
 'sub': ['math', 'eng'],
 'cgpa': 2.9,
 1: 'nums is not included'}

In [ ]:
#dictionary keys is unorder, when we print dictinary it print keys unorder
#method of dictinary

In [10]:
dic.keys()

dict_keys(['name', 'sub', 'cgpa', 1])

In [11]:
dic.items()

dict_items([('name', 'joti'), ('sub', ['math', 'eng']), ('cgpa', 2.9), (1, 'nums is not included')])

In [13]:
dic.values()

dict_values(['joti', ['math', 'eng'], 2.9, 'nums is not included'])

In [14]:
dic.get("cgpa")

2.9

In [15]:
dic.update({
    "city": "dhaka"
})

In [16]:
dic

{'name': 'joti',
 'sub': ['math', 'eng'],
 'cgpa': 2.9,
 1: 'nums is not included',
 'city': 'dhaka'}

### Sets

In [17]:
#Collection of unique elements. the element are always immutable

In [18]:

set1 = { 1, 2, 3, 4, 6, 8}

In [19]:
# set is mutable

In [1]:
empty_set = set()

In [ ]:
set1.add(5)
set1.remove(1)
set1.clear()
set1.pop() #remove random value
set1.

#### Student Enrolments
Given a list of tuples with infor(name, subject): 
* list all unique course
* list students enrolled in english
* create dictionary (student, set of courese)

In [2]:
info = [
    ("Alice", "Match"),
    ("Bob", "Science"),
    ("Alice", "Science"),
    ("Charlie", "Match"),
    ("Bob", "Match"),
    ("Alice", "English"),
    ("Charlie", "English")
]

In [7]:
unique = set()
for tup in info :
    #print(tup[0])
    #print(tup[1])
    unique.add(tup[1])

In [8]:
print(unique)

{'Science', 'Match', 'English'}

In [10]:
for  name, course in info :
    if(course == "English"):
        print(name)

Alice
Charlie

In [11]:
dict1 = {}

for name, course in info :
    if(dict1.get(name) == None) :
        dict1.update({name: set()})
        dict1[name].add(course)
    else :
        dict1[name].add(course)

In [12]:
dict1

{'Alice': {'English', 'Match', 'Science'},
 'Bob': {'Match', 'Science'},
 'Charlie': {'English', 'Match'}}