In [1]:
#Q1
import pandas as pd

In [2]:
df = pd.read_csv("IRIS.csv")

In [3]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [4]:
df.shape

(150, 5)

In [5]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [6]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
df[df["petal_length"] > 4.5]

     sepal_length  sepal_width  petal_length  petal_width          species
50            7.0          3.2           4.7          1.4  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
56            6.3          3.3           4.7          1.6  Iris-versicolor
58            6.6          2.9           4.6          1.3  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[63 rows x 5 columns]

In [1]:
df[df["species"] == "Iris-virginica"].head(3)

NameError: name 'df' is not defined

In [17]:
#C
df.groupby(df["sepal_length"]).agg("min", "max")

              sepal_width  petal_length  petal_width
sepal_length
4.3                   3.0           1.1          0.1
4.4                   2.9           1.3          0.2
4.5                   2.3           1.3          0.3
4.6                   3.1           1.0          0.2
4.7                   3.2           1.3          0.2
4.8                   3.0           1.4          0.1
4.9                   2.4           1.4          0.1
5.0                   2.0           1.2          0.2
5.1                   2.5           1.4          0.2
5.2                   2.7           1.4          0.1
5.3                   3.7           1.5          0.2
5.4                   3.0           1.3          0.2
5.5                   2.3           1.3          0.2
5.6                   2.5           3.6          1.1
5.7                   2.5           1.5          0.3
5.8                   2.6           1.2          0.2
5.9                   3.0           4.2          1.5
6.0                   2.2           4.0          1.0
6.1                   2.6           4.0          1.2
6.2                   2.2           4.3          1.3
6.3                   2.3           4.4          1.3
6.4                   2.7           4.3          1.3
6.5                   2.8           4.6          1.5
6.6                   2.9           4.4          1.3
6.7                   2.5           4.4          1.4
6.8                   2.8           4.8          1.4
6.9                   3.1           4.9          1.5
7.0                   3.2           4.7          1.4
7.1                   3.0           5.9          2.1
7.2                   3.0           5.8          1.6
7.3                   2.9           6.3          1.8
7.4                   2.8           6.1          1.9
7.6                   3.0           6.6          2.1
7.7                   2.6           6.1          2.0
7.9                   3.8           6.4          2.0